sidebar {
    width: 250px; /* Ancho del sidebar */
    background-color: #333; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 20px; /* Espaciado interno */
    float: left; /* Hacer que el sidebar se coloque a la izquierda */
}