/* Estilos para el sidebar */
.app-sidebar {
    position: fixed;
    background-color: #ff95a3; /* Rosa claro para el fondo del sidebar */
    color: #fff; /* Color de texto en blanco */
    height: 100vh;
    width: 200px; /* Ancho del sidebar */
    padding: 20px; /* Espaciado interno */
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera a la derecha */
}
